In [60]:
import numpy as np
import pandas as pd
import requests
import time
from getpass import getpass
import seaborn as sns
import matplotlib.pyplot as plt

In [61]:
# Secret API Key
rent_cast_api_key = getpass('Enter rent cast API Key: ')

In [62]:
# Query Params
state = 'FL'
saleDateRange = '365'
limit = 500  # Max limit per request
offset = 0    # Starting offset
total_properties = 30000  # Total number of properties you want
properties = []  # List to store properties
url = 'https://api.rentcast.io/v1/properties'

In [73]:
# Loop through requests and get the properties
while len(properties) < total_properties:
    print(f"Getting properties: {len(properties)} / {total_properties}")
    current_properties = get_properties(offset)
    
    if not current_properties:
        print("No more properties found.")
        break
    
    properties.extend(current_properties) 
    offset += limit  
    
    time.sleep(1)

Getting properties: 17500 / 30000
Getting properties: 18000 / 30000
Getting properties: 18500 / 30000
Getting properties: 19000 / 30000
Getting properties: 19500 / 30000
Getting properties: 20000 / 30000
Getting properties: 20500 / 30000
Getting properties: 21000 / 30000
Getting properties: 21500 / 30000
Getting properties: 22000 / 30000
Getting properties: 22500 / 30000
Getting properties: 23000 / 30000
Getting properties: 23500 / 30000
Getting properties: 24000 / 30000
Getting properties: 24500 / 30000
Getting properties: 25000 / 30000
Getting properties: 25500 / 30000
Getting properties: 26000 / 30000
Getting properties: 26500 / 30000
Getting properties: 27000 / 30000
Getting properties: 27500 / 30000
Getting properties: 28000 / 30000
Getting properties: 28500 / 30000
Getting properties: 29000 / 30000
Getting properties: 29500 / 30000

In [ ]:
# Convert the list of properties to a DataFrame
rent_cast_data = pd.DataFrame(properties)

# Save to a CSV file 
rent_cast_data.to_csv('properties.csv', index=False)

rent_cast_data.head()

,id,formattedAddress,addressLine1,addressLine2,city,state,zipCode,county,latitude,longitude,...,assessorID,legalDescription,subdivision,features,taxAssessments,propertyTaxes,owner,ownerOccupied,zoning,hoa
0,"1960-S-Ocean-Blvd,-Manalapan,-FL-33462","1960 S Ocean Blvd, Manalapan, FL 33462",1960 S Ocean Blvd,None,Manalapan,FL,33462,Palm Beach,26.551645,-80.042184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"5018-Coquina-Key-Dr-SE,-Saint-Petersburg,-FL-3...","5018 Coquina Key Dr SE, Saint Petersburg, FL 3...",5018 Coquina Key Dr SE,None,Saint Petersburg,FL,33705,Pinellas,27.722504,-82.627381,...,05-32-17-95095-019-0180,WATERSIDE AT COQUINA KEY SOUTH CONDO PHASE I B...,WATERSIDE AT COQUINA KEY SOUTH CO,"{'exteriorType': 'Brick / Stone', 'floorCount'...","{'2020': {'year': 2020, 'value': 227962}, '202...","{'2020': {'year': 2020, 'total': 4875}, '2022'...","{'names': ['KATHERINE ELIZABETH BLAKE'], 'mail...",True,NaN,NaN
2,"1070-Rhonda-Rd,-Jacksonville,-FL-32254","1070 Rhonda Rd, Jacksonville, FL 32254",1070 Rhonda Rd,None,Jacksonville,FL,32254,Duval,30.339189,-81.717711,...,050291-0000,22-73 08-2S-26E WESTWOOD PARK UNIT 2 LOT 15,WESTWOOD PARK UNIT 02,"{'cooling': True, 'coolingType': 'Central', 'e...","{'2021': {'year': 2021, 'value': 84025, 'land'...","{'2021': {'year': 2021, 'total': 1682}, '2022'...","{'names': ['Ryan Ewing', 'Kia Moore'], 'type':...",True,RLD-60,NaN
3,"2200-S-Ocean-Dr,-Apt-N108,-Hollywood,-FL-33019","2200 S Ocean Dr, Apt N108, Hollywood, FL 33019",2200 S Ocean Dr,Apt N108,Hollywood,FL,33019,Broward,25.999305,-80.118487,...,51-42-24-AM-0080,WATERWAY @ HOLLYWOOD BEACH CONDO BLDG 2200 UNI...,WATERWAY @ HWD BCH CONDO,{'architectureType': 'Condo / Apartment'},"{'2022': {'year': 2022, 'value': 240220, 'land...","{'2022': {'year': 2022, 'total': 3986}, '2023'...","{'names': ['Milian Vazquez Yudeisy'], 'type': ...",False,RM-25-SCB,{'fee': 648}
4,"6065-Parkwalk-Dr,-Boynton-Beach,-FL-33472","6065 Parkwalk Dr, Boynton Beach, FL 33472",6065 Parkwalk Dr,None,Boynton Beach,FL,33472,Palm Beach,26.556118,-80.137678,...,00-42-45-14-11-008-1312,COVES AT PARKWALK COND H UNIT 1312,COVES AT PARKWALK COND,{'architectureType': 'Condo / Apartment'},"{'2021': {'year': 2021, 'value': 104680}, '202...","{'2021': {'year': 2021, 'total': 1353}, '2022'...","{'names': ['Beverly Higgins'], 'type': 'Indivi...",True,NaN,NaN

In [ ]:
rent_cast_data.shape

(30000, 29)

In [ ]:
rent_cast_data.columns

Index(['id', 'formattedAddress', 'addressLine1', 'addressLine2', 'city',
       'state', 'zipCode', 'county', 'latitude', 'longitude', 'propertyType',
       'bedrooms', 'bathrooms', 'squareFootage', 'lotSize', 'yearBuilt',
       'lastSaleDate', 'lastSalePrice', 'history', 'assessorID',
       'legalDescription', 'subdivision', 'features', 'taxAssessments',
       'propertyTaxes', 'owner', 'ownerOccupied', 'zoning', 'hoa'],
      dtype='object')

In [68]:
rent_cast_data.nunique

<bound method DataFrame.nunique of                                                       id  \
0                 1960-S-Ocean-Blvd,-Manalapan,-FL-33462
1      5018-Coquina-Key-Dr-SE,-Saint-Petersburg,-FL-3...
2                 1070-Rhonda-Rd,-Jacksonville,-FL-32254
3         2200-S-Ocean-Dr,-Apt-N108,-Hollywood,-FL-33019
4              6065-Parkwalk-Dr,-Boynton-Beach,-FL-33472
...                                                  ...
29995  7740-Southside-Blvd,-Apt-106,-Jacksonville,-FL...
29996               1815-Barraza-Ct,-Lady-Lake,-FL-32159
29997           9788-Pepper-Tree-Trl,-Wildwood,-FL-34785
29998            3618-Bonaventure-Ct,-Sarasota,-FL-34243
29999               310-Sw-16th-St,-Boca-Raton,-FL-33432

                                        formattedAddress  \
0                 1960 S Ocean Blvd, Manalapan, FL 33462
1      5018 Coquina Key Dr SE, Saint Petersburg, FL 3...
2                 1070 Rhonda Rd, Jacksonville, FL 32254
3         2200 S Ocean Dr, Apt N108, Hollywood, FL 33019
4              6065 Parkwalk Dr, Boynton Beach, FL 33472
...                                                  ...
29995  7740 Southside Blvd, Apt 106, Jacksonville, FL...
29996               1815 Barraza Ct, Lady Lake, FL 32159
29997           9788 Pepper Tree Trl, Wildwood, FL 34785
29998            3618 Bonaventure Ct, Sarasota, FL 34243
29999               310 Sw 16th St, Boca Raton, FL 33432

                 addressLine1 addressLine2              city state zipCode  \
0           1960 S Ocean Blvd         None         Manalapan    FL   33462
1      5018 Coquina Key Dr SE         None  Saint Petersburg    FL   33705
2              1070 Rhonda Rd         None      Jacksonville    FL   32254
3             2200 S Ocean Dr     Apt N108         Hollywood    FL   33019
4            6065 Parkwalk Dr         None     Boynton Beach    FL   33472
...                       ...          ...               ...   ...     ...
29995     7740 Southside Blvd      Apt 106      Jacksonville    FL   32256
29996         1815 Barraza Ct         None         Lady Lake    FL   32159
29997    9788 Pepper Tree Trl         None          Wildwood    FL   34785
29998     3618 Bonaventure Ct         None          Sarasota    FL   34243
29999          310 Sw 16th St         None        Boca Raton    FL   33432

           county   latitude  longitude  ...               assessorID  \
0      Palm Beach  26.551645 -80.042184  ...                      NaN
1        Pinellas  27.722504 -82.627381  ...  05-32-17-95095-019-0180
2           Duval  30.339189 -81.717711  ...              050291-0000
3         Broward  25.999305 -80.118487  ...         51-42-24-AM-0080
4      Palm Beach  26.556118 -80.137678  ...  00-42-45-14-11-008-1312
...           ...        ...        ...  ...                      ...
29995       Duval  30.230328 -81.552950  ...              148522-5014
29996      Sumter  28.922691 -81.970013  ...                  D13P099
29997      Sumter  28.900324 -82.043123  ...                 D30BE008
29998    Sarasota  27.387725 -82.497160  ...             0018-04-0043
29999  Palm Beach  26.333671 -80.091756  ...  06-43-47-31-13-000-0190

                                        legalDescription  \
0                                                    NaN
1      WATERSIDE AT COQUINA KEY SOUTH CONDO PHASE I B...
2            22-73 08-2S-26E WESTWOOD PARK UNIT 2 LOT 15
3      WATERWAY @ HOLLYWOOD BEACH CONDO BLDG 2200 UNI...
4                     COVES AT PARKWALK COND H UNIT 1312
...                                                  ...
29995  24-3S-27E SONOMA SOUTHSIDE CONDOMINIUM UNIT 10...
29996  LOT 99 THE VILLAGES OF SUMTER UNIT 17 PLAT BK ...
29997     LOT 8 BLK E PEPPER TREE VILLAGE PB 16 PGS 1-1B
29998                          LOT 85 CEDAR CREEK UNIT 4
29999                            ROYAL PALM FOREST LT 19

                             subdivision  \
0                                    NaN
1      WATERSIDE AT COQUINA KEY SOUTH CO
2                  WESTWOOD PARK UNIT 02
3               WATERWAY @ HWD BCH CONDO
4                 COVES AT PARKWALK COND
...                                  ...
29995       SONOMA SOUTHSIDE CONDOMINIUM
29996                 VILLAGES OF SUMTER
29997                PEPPER TREE VILLAGE
29998                 CEDAR CREEK UNIT 4
29999                  ROYAL PALM FOREST

                                                features  \
0                                                    NaN
1      {'exteriorType': 'Brick / Stone', 'floorCount'...
2      {'cooling': True, 'coolingType': 'Central', 'e...
3              {'architectureType': 'Condo / Apartment'}
4              {'architectureType': 'Condo / Apartment'}
...                                                  ...
29995  {'architectureType': 'Condo / Apartment', 'hea...
29996  {'architectureType': 'Custom', 'garage': True,...
29997  {'architectureType': 'Conventional', 'garage':...
29998  {'cooling': True, 'coolingType': 'Commercial',...
29999  {'cooling': True, 'coolingType': 'Commercial',...

                                          taxAssessments  \
0                                                    NaN
1      {'2020': {'year': 2020, 'value': 227962}, '202...
2      {'2021': {'year': 2021, 'value': 84025, 'land'...
3      {'2022': {'year': 2022, 'value': 240220, 'land...
4      {'2021': {'year': 2021, 'value': 104680}, '202...
...                                                  ...
29995  {'2022': {'year': 2022, 'value': 75000, 'impro...
29996  {'2018': {'year': 2018, 'value': 139050}, '202...
29997  {'2018': {'year': 2018, 'value': 36000, 'land'...
29998  {'2019': {'year': 2019, 'value': 125883}, '202...
29999  {'2020': {'year': 2020, 'value': 439171}, '202...

                                           propertyTaxes  \
0                                                    NaN
1      {'2020': {'year': 2020, 'total': 4875}, '2022'...
2      {'2021': {'year': 2021, 'total': 1682}, '2022'...
3      {'2022': {'year': 2022, 'total': 3986}, '2023'...
4      {'2021': {'year': 2021, 'total': 1353}, '2022'...
...                                                  ...
29995  {'2022': {'year': 2022, 'total': 1127}, '2023'...
29996  {'2020': {'year': 2020, 'total': 1823}, '2022'...
29997            {'2023': {'year': 2023, 'total': 2994}}
29998  {'2022': {'year': 2022, 'total': 1596}, '2023'...
29999  {'2020': {'year': 2020, 'total': 7570}, '2021'...

                                                   owner  ownerOccupied  \
0                                                    NaN            NaN
1      {'names': ['KATHERINE ELIZABETH BLAKE'], 'mail...           True
2      {'names': ['Ryan Ewing', 'Kia Moore'], 'type':...           True
3      {'names': ['Milian Vazquez Yudeisy'], 'type': ...          False
4      {'names': ['Beverly Higgins'], 'type': 'Indivi...           True
...                                                  ...            ...
29995  {'names': ['7740 SOUTHSIDE BLVD LP'], 'type': ...          False
29996  {'names': ['John Bohnert', 'Janette Danforth']...          False
29997  {'names': ['Eduardo Cartagena', 'Evelin J Sama...          False
29998  {'names': ['Jerome Koors', 'Angela Koors'], 't...          False
29999  {'names': ['Juan Salamanca', 'Daniela Bermudez...          False

          zoning           hoa
0            NaN           NaN
1            NaN           NaN
2         RLD-60           NaN
3      RM-25-SCB  {'fee': 648}
4            NaN           NaN
...          ...           ...
29995        NaN           NaN
29996        NaN           NaN
29997        NaN           NaN
29998       RSF2           NaN
29999     R-1-D*           NaN

[30000 rows x 29 columns]>

In [70]:
rent_cast_data.value_counts

<bound method DataFrame.value_counts of                                                       id  \
0                 1960-S-Ocean-Blvd,-Manalapan,-FL-33462
1      5018-Coquina-Key-Dr-SE,-Saint-Petersburg,-FL-3...
2                 1070-Rhonda-Rd,-Jacksonville,-FL-32254
3         2200-S-Ocean-Dr,-Apt-N108,-Hollywood,-FL-33019
4              6065-Parkwalk-Dr,-Boynton-Beach,-FL-33472
...                                                  ...
29995  7740-Southside-Blvd,-Apt-106,-Jacksonville,-FL...
29996               1815-Barraza-Ct,-Lady-Lake,-FL-32159
29997           9788-Pepper-Tree-Trl,-Wildwood,-FL-34785
29998            3618-Bonaventure-Ct,-Sarasota,-FL-34243
29999               310-Sw-16th-St,-Boca-Raton,-FL-33432

                                        formattedAddress  \
0                 1960 S Ocean Blvd, Manalapan, FL 33462
1      5018 Coquina Key Dr SE, Saint Petersburg, FL 3...
2                 1070 Rhonda Rd, Jacksonville, FL 32254
3         2200 S Ocean Dr, Apt N108, Hollywood, FL 33019
4              6065 Parkwalk Dr, Boynton Beach, FL 33472
...                                                  ...
29995  7740 Southside Blvd, Apt 106, Jacksonville, FL...
29996               1815 Barraza Ct, Lady Lake, FL 32159
29997           9788 Pepper Tree Trl, Wildwood, FL 34785
29998            3618 Bonaventure Ct, Sarasota, FL 34243
29999               310 Sw 16th St, Boca Raton, FL 33432

                 addressLine1 addressLine2              city state zipCode  \
0           1960 S Ocean Blvd         None         Manalapan    FL   33462
1      5018 Coquina Key Dr SE         None  Saint Petersburg    FL   33705
2              1070 Rhonda Rd         None      Jacksonville    FL   32254
3             2200 S Ocean Dr     Apt N108         Hollywood    FL   33019
4            6065 Parkwalk Dr         None     Boynton Beach    FL   33472
...                       ...          ...               ...   ...     ...
29995     7740 Southside Blvd      Apt 106      Jacksonville    FL   32256
29996         1815 Barraza Ct         None         Lady Lake    FL   32159
29997    9788 Pepper Tree Trl         None          Wildwood    FL   34785
29998     3618 Bonaventure Ct         None          Sarasota    FL   34243
29999          310 Sw 16th St         None        Boca Raton    FL   33432

           county   latitude  longitude  ...               assessorID  \
0      Palm Beach  26.551645 -80.042184  ...                      NaN
1        Pinellas  27.722504 -82.627381  ...  05-32-17-95095-019-0180
2           Duval  30.339189 -81.717711  ...              050291-0000
3         Broward  25.999305 -80.118487  ...         51-42-24-AM-0080
4      Palm Beach  26.556118 -80.137678  ...  00-42-45-14-11-008-1312
...           ...        ...        ...  ...                      ...
29995       Duval  30.230328 -81.552950  ...              148522-5014
29996      Sumter  28.922691 -81.970013  ...                  D13P099
29997      Sumter  28.900324 -82.043123  ...                 D30BE008
29998    Sarasota  27.387725 -82.497160  ...             0018-04-0043
29999  Palm Beach  26.333671 -80.091756  ...  06-43-47-31-13-000-0190

                                        legalDescription  \
0                                                    NaN
1      WATERSIDE AT COQUINA KEY SOUTH CONDO PHASE I B...
2            22-73 08-2S-26E WESTWOOD PARK UNIT 2 LOT 15
3      WATERWAY @ HOLLYWOOD BEACH CONDO BLDG 2200 UNI...
4                     COVES AT PARKWALK COND H UNIT 1312
...                                                  ...
29995  24-3S-27E SONOMA SOUTHSIDE CONDOMINIUM UNIT 10...
29996  LOT 99 THE VILLAGES OF SUMTER UNIT 17 PLAT BK ...
29997     LOT 8 BLK E PEPPER TREE VILLAGE PB 16 PGS 1-1B
29998                          LOT 85 CEDAR CREEK UNIT 4
29999                            ROYAL PALM FOREST LT 19

                             subdivision  \
0                                    NaN
1      WATERSIDE AT COQUINA KEY SOUTH CO
2                  WESTWOOD PARK UNIT 02
3               WATERWAY @ HWD BCH CONDO
4                 COVES AT PARKWALK COND
...                                  ...
29995       SONOMA SOUTHSIDE CONDOMINIUM
29996                 VILLAGES OF SUMTER
29997                PEPPER TREE VILLAGE
29998                 CEDAR CREEK UNIT 4
29999                  ROYAL PALM FOREST

                                                features  \
0                                                    NaN
1      {'exteriorType': 'Brick / Stone', 'floorCount'...
2      {'cooling': True, 'coolingType': 'Central', 'e...
3              {'architectureType': 'Condo / Apartment'}
4              {'architectureType': 'Condo / Apartment'}
...                                                  ...
29995  {'architectureType': 'Condo / Apartment', 'hea...
29996  {'architectureType': 'Custom', 'garage': True,...
29997  {'architectureType': 'Conventional', 'garage':...
29998  {'cooling': True, 'coolingType': 'Commercial',...
29999  {'cooling': True, 'coolingType': 'Commercial',...

                                          taxAssessments  \
0                                                    NaN
1      {'2020': {'year': 2020, 'value': 227962}, '202...
2      {'2021': {'year': 2021, 'value': 84025, 'land'...
3      {'2022': {'year': 2022, 'value': 240220, 'land...
4      {'2021': {'year': 2021, 'value': 104680}, '202...
...                                                  ...
29995  {'2022': {'year': 2022, 'value': 75000, 'impro...
29996  {'2018': {'year': 2018, 'value': 139050}, '202...
29997  {'2018': {'year': 2018, 'value': 36000, 'land'...
29998  {'2019': {'year': 2019, 'value': 125883}, '202...
29999  {'2020': {'year': 2020, 'value': 439171}, '202...

                                           propertyTaxes  \
0                                                    NaN
1      {'2020': {'year': 2020, 'total': 4875}, '2022'...
2      {'2021': {'year': 2021, 'total': 1682}, '2022'...
3      {'2022': {'year': 2022, 'total': 3986}, '2023'...
4      {'2021': {'year': 2021, 'total': 1353}, '2022'...
...                                                  ...
29995  {'2022': {'year': 2022, 'total': 1127}, '2023'...
29996  {'2020': {'year': 2020, 'total': 1823}, '2022'...
29997            {'2023': {'year': 2023, 'total': 2994}}
29998  {'2022': {'year': 2022, 'total': 1596}, '2023'...
29999  {'2020': {'year': 2020, 'total': 7570}, '2021'...

                                                   owner  ownerOccupied  \
0                                                    NaN            NaN
1      {'names': ['KATHERINE ELIZABETH BLAKE'], 'mail...           True
2      {'names': ['Ryan Ewing', 'Kia Moore'], 'type':...           True
3      {'names': ['Milian Vazquez Yudeisy'], 'type': ...          False
4      {'names': ['Beverly Higgins'], 'type': 'Indivi...           True
...                                                  ...            ...
29995  {'names': ['7740 SOUTHSIDE BLVD LP'], 'type': ...          False
29996  {'names': ['John Bohnert', 'Janette Danforth']...          False
29997  {'names': ['Eduardo Cartagena', 'Evelin J Sama...          False
29998  {'names': ['Jerome Koors', 'Angela Koors'], 't...          False
29999  {'names': ['Juan Salamanca', 'Daniela Bermudez...          False

          zoning           hoa
0            NaN           NaN
1            NaN           NaN
2         RLD-60           NaN
3      RM-25-SCB  {'fee': 648}
4            NaN           NaN
...          ...           ...
29995        NaN           NaN
29996        NaN           NaN
29997        NaN           NaN
29998       RSF2           NaN
29999     R-1-D*           NaN

[30000 rows x 29 columns]>

In [ ]:
rent_cast_data.isnull().sum()

id                      0
formattedAddress        0
addressLine1            0
addressLine2        25338
city                    0
state                   0
zipCode                 0
county                 19
latitude                0
longitude               0
propertyType          506
bedrooms             4395
bathrooms            3995
squareFootage        3423
lotSize              3646
yearBuilt            4134
lastSaleDate            0
lastSalePrice           6
history              3734
assessorID           1935
legalDescription     1960
subdivision          5212
features             6950
taxAssessments       1954
propertyTaxes        2222
owner                1994
ownerOccupied        1994
zoning              11803
hoa                 28837
dtype: int64

In [71]:
rent_cast_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                30000 non-null  object
 1   formattedAddress  30000 non-null  object
 2   addressLine1      30000 non-null  object
 3   addressLine2      4662 non-null   object
 4   city              30000 non-null  object
 5   state             30000 non-null  object
 6   zipCode           30000 non-null  object
 7   county            29981 non-null  object
 8   latitude          30000 non-null  float64
 9   longitude         30000 non-null  float64
 10  propertyType      29494 non-null  object
 11  bedrooms          25605 non-null  float64
 12  bathrooms         26005 non-null  float64
 13  squareFootage     26577 non-null  float64
 14  lotSize           26354 non-null  float64
 15  yearBuilt         25866 non-null  float64
 16  lastSaleDate      30000 non-null  object
 17  lastSalePrice     29994 non-null  float64
 18  history           26266 non-null  object
 19  assessorID        28065 non-null  object
 20  legalDescription  28040 non-null  object
 21  subdivision       24788 non-null  object
 22  features          23050 non-null  object
 23  taxAssessments    28046 non-null  object
 24  propertyTaxes     27778 non-null  object
 25  owner             28006 non-null  object
 26  ownerOccupied     28006 non-null  object
 27  zoning            18197 non-null  object
 28  hoa               1163 non-null   object
dtypes: float64(8), object(21)
memory usage: 6.6+ MB

In [72]:
rent_cast_data.describe()

,latitude,longitude,bedrooms,bathrooms,squareFootage,lotSize,yearBuilt,lastSalePrice
count,30000.000000,30000.000000,25605.000000,26005.000000,26577.000000,2.635400e+04,25866.000000,2.999400e+04
mean,27.881210,-81.757301,2.966178,2.191617,1733.141288,5.422407e+04,1991.248860,7.333608e+05
std,1.369434,1.356191,1.450220,2.870056,1120.587121,2.741196e+06,23.712996,3.248533e+06
min,24.547705,-87.511748,0.000000,0.500000,1.000000,1.000000e+00,1822.000000,3.000000e+02
25%,26.668327,-82.349847,2.000000,2.000000,1210.000000,5.580000e+03,1974.000000,2.750000e+05
50%,27.936573,-81.705231,3.000000,2.000000,1590.000000,7.875000e+03,1992.000000,3.850000e+05
75%,28.741687,-80.773652,3.000000,2.500000,2039.000000,1.110950e+04,2010.000000,5.650000e+05
max,30.992581,-80.032808,176.000000,250.000000,68016.000000,3.256110e+08,2028.000000,2.880000e+08