In [1]:
%pip install flatten_json dotenv

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: flatten_json in /home/vscode/.local/lib/python3.10/site-packages (0.1.14)
Requirement already satisfied: dotenv in /home/vscode/.local/lib/python3.10/site-packages (0.9.9)
Requirement already satisfied: six in /home/vscode/.local/lib/python3.10/site-packages (from flatten_json) (1.17.0)
Requirement already satisfied: python-dotenv in /home/vscode/.local/lib/python3.10/site-packages (from dotenv) (1.0.1)

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [31]:
import os
import pandas as pd
import requests
import json
from flatten_json import flatten
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Lasso, LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, r2_score, mean_squared_error
import matplotlib.pyplot as plt
from dotenv import load_dotenv
import time

In [ ]:
# Loading API key

load_dotenv()

api_key = os.getenv('API_KEY_')

In [ ]:
data = pd.DataFrame()

offset = 0

# for i in range(200):
    
    url = f'https://api.rentcast.io/v1/properties?state=FL&saleDateRange=365&limit=500&offset={offset}'

    headers = {
        "accept": "application/json",
        "X-Api-Key": api_key
    }

    response = requests.get(url, headers=headers)

    rentcast_json = response.json()

    properties = []
    for item in rentcast_json:
        flattened_data = {
            "id": item["id"],
            "formattedAddress": item.get("formattedAddress", None),
            "city": item.get("city", None),
            "state": item.get("state", None),
            "zipCode": item.get("zipCode", None),
            "county": item.get("county", None),
            "latitude": item.get("latitude", None),
            "longitude": item.get("longitude", None),
            "propertyType": item.get("propertyType", None),
            "bedrooms": item.get("bedrooms", None),
            "bathrooms": item.get("bathrooms", None),
            "squareFootage": item.get("squareFootage", None),
            "lotSize": item.get("lotSize", None),
            "yearBuilt": item.get("yearBuilt", None),
            "subdivision": item.get("subdivision", None),
            "zoning": item.get("zoning", None),
            "lastSaleDate": item.get("lastSaleDate", None),
            "lastSalePrice": item.get("lastSalePrice", None),

            "hoa": item.get("hoa", {}).get("fee", None),

            # Extracting nested features
            "architectureType": item.get("features", {}).get("architectureType", None),
            "cooling": item.get("features", {}).get("cooling", False),
            "coolingType": item.get("features", {}).get("coolingType", None),
            "heating": item.get("features", {}).get("heating", False),
            "heatingType": item.get("features", {}).get("heatingType", None),
            "exteriorType": item.get("features", {}).get("exteriorType", None),
            "fireplace": item.get("features", {}).get("fireplace", False),
            "floorCount": item.get("features", {}).get("floorCount", None),
            "foundationType": item.get("features", {}).get("foundationType", None),
            "garage": item.get("features", {}).get("garage", False),
            "garageSpaces": item.get("features", {}).get("garageSpaces", None),
            "garageType": item.get("features", {}).get("garageType", None),
            "pool": item.get("features", {}).get("pool", False),
            "roomCount": item.get("features", {}).get("roomCount", None),
            "unitCount": item.get("features", {}).get("unitCount", None),
            "viewType": item.get("features", {}).get("viewType", None),
        }
    
        properties.append(flattened_data)

    df = pd.DataFrame(properties)

    data = pd.concat([data, df], ignore_index=True)

    offset += 500

    time.sleep(1)

In [35]:
data.to_csv("rentcast_FL.csv", index=False)

In [ ]:
loaded_data = pd.read_csv('')

[
  {
    "id": "5500-Grand-Lake-Dr,-San-Antonio,-TX-78244",
    "formattedAddress": "5500 Grand Lake Dr, San Antonio, TX 78244",
    "addressLine1": "5500 Grand Lake Dr",
    "addressLine2": null,
    "city": "San Antonio",
    "state": "TX",
    "zipCode": "78244",
    "county": "Bexar",
    "latitude": 29.476011,
    "longitude": -98.351454,
    "propertyType": "Single Family",
    "bedrooms": 3,
    "bathrooms": 2,
    "squareFootage": 1878,
    "lotSize": 8843,
    "yearBuilt": 1973,
    "assessorID": "05076-103-0500",
    "legalDescription": "CB 5076A BLK 3 LOT 50",
    "subdivision": "CONV A/S CODE",
    "zoning": "RH",
    "lastSaleDate": "2017-10-19T00:00:00.000Z",
    "lastSalePrice": 185000,
    "hoa": {
      "fee": 175
    },
    "features": {
      "architectureType": "Contemporary",
      "cooling": true,
      "coolingType": "Central",
      "exteriorType": "Wood",
      "fireplace": true,
      "fireplaceType": "Masonry",
      "floorCount": 1,
      "foundationType": "Slab / Mat / Raft",
      "garage": true,
      "garageSpaces": 2,
      "garageType": "Garage",
      "heating": true,
      "heatingType": "Forced Air",
      "pool": true,
      "poolType": "Concrete",
      "roofType": "Asphalt",
      "roomCount": 5,
      "unitCount": 1,
      "viewType": "City"

In [24]:
data.head()

,id,formattedAddress,city,state,zipCode,county,latitude,longitude,propertyType,subdivision,...,fireplace,floorCount,foundationType,garage,garageSpaces,garageType,pool,roomCount,unitCount,viewType
0,"1960-S-Ocean-Blvd,-Manalapan,-FL-33462","1960 S Ocean Blvd, Manalapan, FL 33462",Manalapan,FL,33462,Palm Beach,26.551645,-80.042184,Single Family,None,...,None,NaN,None,None,NaN,None,None,NaN,NaN,None
1,"5018-Coquina-Key-Dr-SE,-Saint-Petersburg,-FL-3...","5018 Coquina Key Dr SE, Saint Petersburg, FL 3...",Saint Petersburg,FL,33705,Pinellas,27.722504,-82.627381,Townhouse,WATERSIDE AT COQUINA KEY SOUTH CO,...,None,2.0,None,None,NaN,None,True,NaN,1.0,Water
2,"1070-Rhonda-Rd,-Jacksonville,-FL-32254","1070 Rhonda Rd, Jacksonville, FL 32254",Jacksonville,FL,32254,Duval,30.339189,-81.717711,Single Family,WESTWOOD PARK UNIT 02,...,None,1.0,None,True,4.0,Garage,None,NaN,1.0,None
3,"2200-S-Ocean-Dr,-Apt-N108,-Hollywood,-FL-33019","2200 S Ocean Dr, Apt N108, Hollywood, FL 33019",Hollywood,FL,33019,Broward,25.999305,-80.118487,Condo,WATERWAY @ HWD BCH CONDO,...,None,NaN,None,None,NaN,None,None,NaN,NaN,None
4,"6065-Parkwalk-Dr,-Boynton-Beach,-FL-33472","6065 Parkwalk Dr, Boynton Beach, FL 33472",Boynton Beach,FL,33472,Palm Beach,26.556118,-80.137678,Condo,COVES AT PARKWALK COND,...,None,NaN,None,None,NaN,None,None,NaN,NaN,None

In [30]:
data.value_counts()

Series([], Name: count, dtype: int64)

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 499
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1000 non-null   object
 1   formattedAddress  1000 non-null   object
 2   city              1000 non-null   object
 3   state             1000 non-null   object
 4   zipCode           1000 non-null   object
 5   county            1000 non-null   object
 6   latitude          1000 non-null   float64
 7   longitude         1000 non-null   float64
 8   propertyType      992 non-null    object
 9   subdivision       910 non-null    object
 10  zoning            643 non-null    object
 11  bedrooms          937 non-null    float64
 12  bathrooms         948 non-null    float64
 13  squareFootage     970 non-null    float64
 14  lotSize           904 non-null    float64
 15  yearBuilt         963 non-null    float64
 16  lastSaleDate      1000 non-null   object
 17  lastSalePrice     1000 non-null   int64
 18  hoa               39 non-null     float64
 19  architectureType  285 non-null    object
 20  cooling           658 non-null    object
 21  coolingType       658 non-null    object
 22  exteriorType      731 non-null    object
 23  fireplace         130 non-null    object
 24  floorCount        750 non-null    float64
 25  foundationType    336 non-null    object
 26  garage            612 non-null    object
 27  garageSpaces      210 non-null    float64
 28  garageType        609 non-null    object
 29  pool              146 non-null    object
 30  roomCount         81 non-null     float64
 31  unitCount         761 non-null    float64
 32  viewType          50 non-null     object
dtypes: float64(12), int64(1), object(20)
memory usage: 265.6+ KB

In [25]:
data.columns.tolist()

['id',
 'formattedAddress',
 'city',
 'state',
 'zipCode',
 'county',
 'latitude',
 'longitude',
 'propertyType',
 'subdivision',
 'zoning',
 'bedrooms',
 'bathrooms',
 'squareFootage',
 'lotSize',
 'yearBuilt',
 'lastSaleDate',
 'lastSalePrice',
 'hoa',
 'architectureType',
 'cooling',
 'coolingType',
 'exteriorType',
 'fireplace',
 'floorCount',
 'foundationType',
 'garage',
 'garageSpaces',
 'garageType',
 'pool',
 'roomCount',
 'unitCount',
 'viewType']

In [26]:
data['lastSalePrice'].isna().any().any()

np.False_

In [27]:
data.isna().sum()

id                    0
formattedAddress      0
city                  0
state                 0
zipCode               0
county                0
latitude              0
longitude             0
propertyType          8
subdivision          90
zoning              357
bedrooms             63
bathrooms            52
squareFootage        30
lotSize              96
yearBuilt            37
lastSaleDate          0
lastSalePrice         0
hoa                 961
architectureType    715
cooling             342
coolingType         342
exteriorType        269
fireplace           870
floorCount          250
foundationType      664
garage              388
garageSpaces        790
garageType          391
pool                854
roomCount           919
unitCount           239
viewType            950
dtype: int64

In [28]:
data['lastSaleDate'].describe()

count                         1000
unique                           1
top       2024-03-12T00:00:00.000Z
freq                          1000
Name: lastSaleDate, dtype: object