In [7]:
import pandas as pd
import sqlite3
from sklearn.metrics import root_mean_squared_error, r2_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import  StandardScaler, MinMaxScaler
from sklearn.ensemble import RandomForestRegressor

In [8]:
# Loading data from SQLite to pandas

path_to_db = '/workspaces/mds8-final-project-bmh/data/processed/rentcast_FL_matt_cleaned.db'
conn = sqlite3.connect(path_to_db)
query = """SELECT * FROM cleaned_properties_matt"""
data = pd.read_sql(query, conn)
conn.close()
data.head()

,bedrooms,bathrooms,squareFootage,lotSize,pool,m_rate,cooling,heating,fireplace,garage,...,zipCode_34480,zipCode_34481,zipCode_34482,zipCode_34741,zipCode_34743,zipCode_34744,zipCode_34746,zipCode_34747,zipCode_34758,zipCode_34759
0,3,1,1192,7155,0,0.0682,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2,1,592,6180,0,0.0682,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,630,958,0,0.0682,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2,1744,9627,0,0.0682,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,3,2,1380,7501,0,0.0682,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
X = data.drop(['lastSalePrice'], axis=1)
y = data['lastSalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=42)

In [ ]:
# Define the model
rf_model = RandomForestRegressor(random_state=42)

# Define the hyperparameter grid
param_grid = {
    "n_estimators": [50, 100, 200],  
    "max_depth": [10, 20, None],  
    "min_samples_split": [2, 5, 10],  
    "min_samples_leaf": [1, 2, 5],  
    "max_features": ["sqrt", "log2", None]  
}

# Perform grid search
grid_search = GridSearchCV(rf_model, param_grid, cv=5, scoring='r2', n_jobs=-1)
grid_search.fit(X_train, y_train)

# Print the best parameters
print("Best Parameters:", grid_search.best_params_)