In [24]:
import sqlite3
import pandas as pd

path_to_db = '/workspaces/mds8-final-project-bmh/data/raw/rentcast_FL.db'

conn = sqlite3.connect(path_to_db)
cursor = conn.cursor()

In [25]:
query = """SELECT DISTINCT city
            FROM properties
            WHERE county = 'Palm Beach'
            ORDER BY city
            """

cursor.execute(query)

for row in cursor:
    print(row)

('Atlantis',)
('Belle Glade',)
('Boca Raton',)
('Boynton Beach',)
('Canal Point',)
('Cloud Lake',)
('Delray Beach',)
('Greenacres',)
('Gulf Stream',)
('Haverhill',)
('Highland Beach',)
('Hypoluxo',)
('Juno Beach',)
('Jupiter',)
('Jupiter Inlet Colony',)
('Lake Clarke Shores',)
('Lake Park',)
('Lake Worth',)
('Lake Worth Beach',)
('Lantana',)
('Loxahatchee',)
('Loxahatchee Groves',)
('Manalapan',)
('Mangonia Park',)
('North Palm Beach',)
('Ocean Ridge',)
('Pahokee',)
('Palm Beach',)
('Palm Beach Gardens',)
('Palm Beach Shores',)
('Palm Springs',)
('Riviera Beach',)
('Royal Palm Beach',)
('South Bay',)
('South Palm Beach',)
('Tequesta',)
('The Acreage',)
('Wellington',)
('West Palm Beach',)
('Westlake',)

In [26]:
query = """SELECT pool
            FROM properties
            WHERE county = 'Palm Beach'
            """

pool = pd.read_sql_query(query, conn)

pool.head()

    pool
0  False
1  False
2   True
3   True
4  False

In [27]:
query = """SELECT ROUND(AVG(lastSalePrice))
            FROM properties
            WHERE pool = True
            """

cursor.execute(query)

for value in cursor:
    print(value)

(869353.0,)

In [28]:
query = """SELECT ROUND(AVG(lastSalePrice))
            FROM properties
            WHERE pool = False
            """

cursor.execute(query)

for value in cursor:
    print(value)

(559397.0,)

In [29]:
conn.close()