In [ ]:
import pandas as pd
import sqlite3

path_to_db = '/workspaces/mds8-final-project-bmh/data/raw/rentcast_FL.db'

conn = sqlite3.connect(path_to_db)

query = """SELECT * FROM properties"""

data = pd.read_sql(query, conn)

data.head()

In [ ]:
query = """SELECT garage
            FROM properties
            """

garage = pd.read_sql_query(query, conn)

garage.head()

   garage
0       0
1       0
2       1
3       0
4       0

In [11]:
garage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145617 entries, 0 to 145616
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   garage  145617 non-null  int64
dtypes: int64(1)
memory usage: 1.1 MB