In [81]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from skylearn.model_selection import train_test_split
from skylearn.tree import DecisionTreeRegressor
from skylearn.metrics import mean_squared_error, r2_score

ModuleNotFoundError: No module named 'skylearn'

In [64]:
#off_set = 0
#all_data = []
#for i in range(100) :
#    url = f'https://api.rentcast.io/v1/properties?state=FL&limit=500&offset={off_set}'  
#
#    headers = {
#    "Accept" : "application/json",
#    "X-API-Key":"dcc30d3e7e454610af41d9e6ddddeea7"
#}
#
#    response  = requests.get(url, headers = headers)
#
#    if response.status_code == 200:
#        data = response.json()
#        all_data.extend(data)
#        
#    else:
#        print(f"Error {response.status_code} - {response.text}")
#    
#    off_set += 500
#
#df = pd.json_normalize(all_data)
#df.to_csv("data.csv", index = False)

In [ ]:
data = pd.read_csv("./data.csv", )

In [68]:
data.shape

(145618, 35)

In [69]:
data.columns

Index(['id', 'formattedAddress', 'city', 'state', 'zipCode', 'county',
       'latitude', 'longitude', 'propertyType', 'bedrooms', 'bathrooms',
       'squareFootage', 'lotSize', 'yearBuilt', 'subdivision', 'zoning',
       'lastSaleDate', 'lastSalePrice', 'hoa', 'architectureType', 'cooling',
       'coolingType', 'heating', 'heatingType', 'exteriorType', 'fireplace',
       'floorCount', 'foundationType', 'garage', 'garageSpaces', 'garageType',
       'pool', 'roomCount', 'unitCount', 'viewType'],
      dtype='object')

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145618 entries, 0 to 145617
Data columns (total 35 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                145618 non-null  object
 1   formattedAddress  145618 non-null  object
 2   city              145618 non-null  object
 3   state             145618 non-null  object
 4   zipCode           145618 non-null  int64
 5   county            145496 non-null  object
 6   latitude          145618 non-null  float64
 7   longitude         145618 non-null  float64
 8   propertyType      143305 non-null  object
 9   bedrooms          126304 non-null  float64
 10  bathrooms         128000 non-null  float64
 11  squareFootage     130282 non-null  float64
 12  lotSize           128261 non-null  float64
 13  yearBuilt         127155 non-null  float64
 14  subdivision       117945 non-null  object
 15  zoning            86565 non-null   object
 16  lastSaleDate      145618 non-null  object
 17  lastSalePrice     145534 non-null  float64
 18  hoa               10993 non-null   float64
 19  architectureType  37234 non-null   object
 20  cooling           145618 non-null  bool
 21  coolingType       79778 non-null   object
 22  heating           145618 non-null  bool
 23  heatingType       66688 non-null   object
 24  exteriorType      89319 non-null   object
 25  fireplace         145618 non-null  bool
 26  floorCount        92935 non-null   float64
 27  foundationType    42373 non-null   object
 28  garage            145618 non-null  bool
 29  garageSpaces      18767 non-null   float64
 30  garageType        72519 non-null   object
 31  pool              145618 non-null  object
 32  roomCount         10704 non-null   float64
 33  unitCount         96267 non-null   float64
 34  viewType          6712 non-null    object
dtypes: bool(4), float64(13), int64(1), object(17)
memory usage: 35.0+ MB

In [71]:
data.isnull().sum()

id                       0
formattedAddress         0
city                     0
state                    0
zipCode                  0
county                 122
latitude                 0
longitude                0
propertyType          2313
bedrooms             19314
bathrooms            17618
squareFootage        15336
lotSize              17357
yearBuilt            18463
subdivision          27673
zoning               59053
lastSaleDate             0
lastSalePrice           84
hoa                 134625
architectureType    108384
cooling                  0
coolingType          65840
heating                  0
heatingType          78930
exteriorType         56299
fireplace                0
floorCount           52683
foundationType      103245
garage                   0
garageSpaces        126851
garageType           73099
pool                     0
roomCount           134914
unitCount            49351
viewType            138906
dtype: int64

In [72]:
to_drop = data.isnull().sum()
data = data.drop(columns=to_drop[to_drop > 49000].index)

In [73]:
data.isnull().sum()

id                      0
formattedAddress        0
city                    0
state                   0
zipCode                 0
county                122
latitude                0
longitude               0
propertyType         2313
bedrooms            19314
bathrooms           17618
squareFootage       15336
lotSize             17357
yearBuilt           18463
subdivision         27673
lastSaleDate            0
lastSalePrice          84
cooling                 0
heating                 0
fireplace               0
garage                  0
pool                    0
dtype: int64

In [74]:
pd.set_option('display.max_columns', None)
df.describe(include='all').loc[["mean"]].round()

mean = data.describe(include='all').loc[["mean"]].round()

for col in data.columns:
     if col in mean.columns:
         if pd.api.types.is_numeric_dtype(data[col]):
              data[col] = data[col].fillna(mean[col].values[0])

In [75]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [76]:
data.isnull().sum()

id                      0
formattedAddress        0
city                    0
state                   0
zipCode                 0
county                122
latitude                0
longitude               0
propertyType         2313
bedrooms                0
bathrooms               0
squareFootage           0
lotSize                 0
yearBuilt               0
subdivision         27673
lastSaleDate            0
lastSalePrice           0
cooling                 0
heating                 0
fireplace               0
garage                  0
pool                    0
dtype: int64

In [77]:
to_drop = data.isnull().sum()
data = data.drop(columns=to_drop[to_drop > 0].index)

In [78]:
data.shape

(145618, 19)